### Read Multiple Result Map

In [5]:
from absbox import API,EnginePath
localAPI = API(EnginePath.DEV,check=False)


from absbox.examples import test01,test02

Connecting engine server -> https://absbox.org/api/dev

✅Connected, local lib:0.26.4, server:0.27.10

#### What is MultiResult ?

`Multi Result` is just a map result return either by `runByScenarios()` or `runStructs()`

In [9]:
rs1 = localAPI.runStructs({"deal1":test01,"deal2":test02}
                         ,read=True)

In [6]:
p1 = ("Pool",("Mortgage",None,{"CPR":0.01},None,None)
                                ,None
                                ,None)

p2 = ("Pool",("Mortgage",None,{"CPR":0.02},None,None)
                                ,None
                                ,None)


rs2 = localAPI.runByScenarios(test01
                             ,{"CPR=1%":p1,"CPR=2%":p2}
                             ,read=True)

#### readFlowsByScenarios()

In [7]:
from absbox import readFlowsByScenarios

In [15]:
from lenses import lens

readFlowsByScenarios(rs1, lens['bonds']['A1']['balance']).head()

            deal1:balance  deal2:balance
date
2021-06-20         543.90         340.83
2021-07-20         429.17         224.94
2021-08-20         313.86         108.41
2021-09-20         197.87           0.00
2021-10-20          81.15            NaN

In [16]:
readFlowsByScenarios(rs1, lens['bonds']['A1']['balance'], fullName=False).head()

            balance  balance
date
2021-06-20   543.90   340.83
2021-07-20   429.17   224.94
2021-08-20   313.86   108.41
2021-09-20   197.87     0.00
2021-10-20    81.15      NaN

In [19]:
readFlowsByScenarios(rs2, lens['pool']['flow']['Prepayment']).head()

            CPR=1%:Prepayment  CPR=2%:Prepayment
Date
2021-04-01               3.47               6.98
2021-05-01               1.64               3.29
2021-06-01               1.60               3.22
2021-07-01               1.46               2.93
2021-08-01               1.42               2.85